<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="xUnit" />
    <stepAssemblies>
      <stepAssembly assembly="PossumLabs.Specflow.Core" />
      <stepAssembly assembly="PossumLabs.Specflow.Selenium" />
      <stepAssembly assembly="PossumLabs.Specflow.Slipka" />
    </stepAssemblies>
  </specFlow>
</configuration>
